* {
    background-color: hsl(260, 100%, 95%);
    font-size: 13px;    
    font-family: BarlowSemiCondensed;
}

@font-face {
    font-family: BarlowSemiCondensed;
    src: url(./BarlowSemiCondensed-Regular.ttf);
}

body {
    margin-top: 100px;
    margin-left: 250px;
}

.danielclifford {
    background-color: hsl(263, 55%, 52%);
    color: hsl(260, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}

#danielcliffordbox {
    width: 550px;
    float: left;
    margin-right: 20px;
    box-shadow: 10px 20px 10px 0px rgba(186, 186, 186);
}

#danielcliffordimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(264, 82%, 80%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

#cliffordname {
    margin-bottom: -5px;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3px;
    font-weight: 400;
}

#subtitleclifford {
    display: inline;
    padding-top: 00px;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 400;
}

#overlapcontainerdaniel {
    position: relative;
    background-color: hsl(263, 55%, 52%);
}

#quote-img {
    background-color: hsl(263, 55%, 52%);
    margin-top: -67px;
    margin-left: 390px;
    position: absolute;
}

#bigtextclifford {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
    background-color: transparent;
}

#smalltextclifford {
    margin-top: 0px;
}

.jonathanwalters {
    background-color: hsl(217, 19%, 35%);
    color: hsl(260, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}

#waltersbox {
    width: 230px;
    display: inline-block;
    box-shadow: 10px 20px 10px 0px rgba(186, 186, 186);
}

#waltersimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(0, 0%, 81%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

#waltersname {
    margin-bottom: -5px;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3px;
    font-weight: 400;
}

#walterssubtitle {
    display: inline;
    padding-top: 00px;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 400;
}

#waltersbigtext {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#walterssmalltext {
    margin-top: 0px;
}

.jeanetteharmon {
    background-color: hsl(214, 17%, 92%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 10px;
}

#harmonbox {
    width: 230px;
    margin-top: 30px;
    box-shadow: 20px 20px 10px 0px rgba(186, 186, 186);
    float: middle;
    height: 262px;
}

#harmonimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(0, 0%, 81%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

#harmonname {
    margin-bottom: -5px;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
}

#harmonsubtitle {
    display: inline;
    padding-top: 00px;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 400;
}

#harmonbigtext {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#harmonsmalltext {
    margin-top: 0px;
}

.patrickabrams {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 81%);
    border-radius: 10px;
    padding: 10px;
}

#abramsbox {
    width: 550px;
    height: 262px;
    margin-top: 20px;
    box-shadow: 20px 20px 10px 0px rgba(186, 186, 186);
    margin-left: 270px;
    margin-top: -282px;
}

#abramsimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(263, 55%, 52%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

#abramsname {
    margin-bottom: -5px;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3px;
    font-weight: 400;
}

#abramssubtitle {
    display: inline;
    padding-top: 00px;
    padding-left: 0px;
    font-size: 10px;
    font-weight: 400;
}

#abramsbigtext {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#abramssmalltext {
    margin-top: 0px;
}

.kirawhittle {
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 10px;
}

#whittlebox {
    width: 230px;
    height: 574px;
    box-shadow: 20px 20px 10px 0px rgba(186, 186, 186);
    margin-left: 860px;
    margin-top: -594px;
}

#whittleimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(263, 55%, 52%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: -302px;
}

#whittlename {
    margin-bottom: -5px;
    margin-left: 50px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3px;
    font-weight: 400;
}

#whittlesubtitle {
    display: inline;
    padding-top: 00px;
    margin-left: 50px;
    font-size: 10px;
    font-weight: 400;
    background-color: transparent;
}

#whittlebigtext {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 0px;
}

#whittlesmalltext {
    margin-top: 0px;
    text-align: left;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
    margin-right: 200px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}