* {
    background-color: hsl(260, 100%, 95%);
    font-size: 13px;    
    font-family: BarlowSemiCondensed;
}

@font-face {
    font-family: BarlowSemiCondensed;
    src: url(./BarlowSemiCondensed-Regular.ttf);
}

.danielclifford {
    background-color: hsl(263, 55%, 52%);
    color: hsl(260, 100%, 95%);
    border-radius: 10px;
    padding: 10px;
}

#danielcliffordbox {
    width: 550px;
}

#danielcliffordimg {
    border-radius: 50px;
    float: left;
    width: 40px;
    border: 2px solid hsl(264, 82%, 80%);
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
}

#cliffordname {
    margin-bottom: -5px;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: 3px;
    font-weight: 400;
}

#subtitleclifford {
    display: inline;
    padding-top: 00px;
    padding-left: 7px;
    font-size: 10px;
    font-weight: 400;
}

#bigtextclifford {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}